<!DOCTYPE html>
<html lang="{{@site.locale}}"></html>
<html>
    <head>
	{{!-- Document Settings --}}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	{{!-- Base Meta --}}
	<title>{{meta_title}}</title>
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/bio.css"}}" />
    <script>
			var siteUrl = '{{@site.url}}';
	</script>

        <script>
            var localTheme = localStorage.getItem('attila_theme');
            switch (localTheme) {
                    case 'dark':
                            document.documentElement.classList.add('theme-dark');
                            break;
                    case 'light':
                            document.documentElement.classList.add('theme-light');
                            break;
                    default:
                            break;
                            }
        </script>

	{{#match @custom.color_scheme "Dark"}}
		<script>localStorage.setItem('attila_theme', 'dark');</script>
		<style>.js-theme {display:none!important;}</style>
	{{/match}}

	{{#match @custom.color_scheme "Light"}}
		<script>localStorage.setItem('attila_theme', 'light');</script>
		<style>.js-theme {display:none!important;}</style>
	{{/match}}

	{{#match @custom.color_scheme "!=" "Light"}}
		{{#if @custom.darkmode_accent_color}}
			<style>
				.theme-dark:root {
				  --ghost-accent-color: {{@custom.darkmode_accent_color}};
				}
				@media (prefers-color-scheme: dark) {
				  html:not(.theme-light):root {
				    --ghost-accent-color: {{@custom.darkmode_accent_color}};
				  }
				}
			</style>
		{{/if}}
	{{/match}}

	{{ghost_head}}

    </head>
    <body>
    <div class="biowrapper">
        <div class="bio">
        {{#post}}
            {{#foreach authors}}
                <img id="userPhoto" src="{{img_url profile_image}}" alt="{{name}}'s Picture">
                <h1>{{name}}</h1>
                    <div class="nav-header" style="display: flex !important;">
                        {{> "navigation-meta"}}
                    </div>
                <p>{{bio}}</p>
            {{/foreach}}
        <div id="links">
            {{content}}
        </div>
        </div>
    </div>
        {{/post}}
        {{ghost_foot}}
    </body>
</html>